[user]
  name = Kjel Delaey
  email = ""

[push]
  default = upstream

[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto

[core]
  editor = vim

[merge]
  log = true

[alias]
  aa = add --all
  ap = add --patch
  ca = commit --amend
  ci = commit -v
  co = checkout
  cm = checkout master
  cb = checkout -b
  bra = branch -a
  rbr = branch -D
  brr = branch -r
  tidy-up = !sh -c 'git remote prune origin && git gc --prune=now && git gc --aggressive && git tag -l | xargs git tag -d && git fetch --tags'
  create-branch = !sh -c 'git push origin HEAD:refs/heads/$1 && git fetch origin && git branch --track $1 origin/$1 && cd . && git checkout $1' -
  delete-branch = !sh -c 'git push origin :refs/heads/$1 && git remote prune origin && git branch -D $1' -
  merge-branch = !git checkout master && git merge @{-1}
  rebase-origin = !git fetch origin && git rebase origin/master
  lg = !git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  count = shortlog -sn
  up = pull --rebase
  st = status
  rh = reset HEAD
  rhh = reset HEAD --hard
  rhs = reset HEAD --soft
  wc = !git whatchanged -p --abbrev-commit --pretty=medium
